#title{
  background-image:linear-gradient(#CADCFC, rgb(237, 237, 237));
  padding-bottom: 150px;
  
 
}
.container-fluid{
  padding: 3% 10%;
}

.buddy-color{
  color: #000000;
}


h1{
font-family: "Sora", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
  color: white;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}


h3{font-family: "Space Grotesk", sans-serif;
font-weight: bold;
color: white;
text-align: center;
 
}



p{font-family:"Space Grotesk", sans-serif ;
  color: white;
  
}

/* Navigation Bar */ 

.navbar{
  padding: 0 0 7rem;
 text-align: center;
 display: flex;
 gap: 5rem;
 align-items: center;
 justify-content: space-between;
}

.navbar-brand{font-family:"Sora", sans-serif ;
font-weight: bold; 
font-size: 2.5rem;
border-radius: 15px 50px 30px;
padding: 14px ;
background-color: #3396D3;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
  transition: 0.5s ease;
}

.navbar-brand:hover{
  transform: scale(1.1);
}

.nav-item{
  padding: 0 18px;  
}

.nav-link {
  font-family:"Sora", sans-serif;
  font-size: 1.2rem;
  gap: 150px;
  display: flex;
  padding: 10px 15px;
}

.background-content{
padding: 0 2px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 15px 2px rgba(255, 255, 255, 0.191);


}



.spacing-nav{
  margin: 0 5px;
  padding: 0 2px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 15px 2px rgba(255, 255, 255, 0.191);
    display: flex;
    text-align: center;
    transition: 0.5s ease;
}

.pricing-background{
  transition: 0.5s ease;
}

.spacing-nav:hover{
    box-shadow: 0.5px 0.5px 20px 10px #ffffff;
    transform:scale(1.5px);
}

.pricing-background:hover{
     box-shadow: 0.5px 0.5px 20px 10px #ffffff;
    transform:scale(1.5px);
}

.pricing-background{
    margin: 0 5px;
  padding: 0 2px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 15px 2px rgba(255, 255, 255, 0.191);
    display: flex;
    text-align: center;
}

.download-background{
    margin: 0 5px;
  padding: 0 2px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 15px 2px rgba(255, 255, 255, 0.191);
    display: flex;
    text-align: center;
    transition: 0.5s ease;
}

.download-background:hover{
       box-shadow: 0.5px 0.5px 20px 10px #ffffff;
    transform:scale(1.5px);
}



/* Download Buttons */

.download-button:hover{
  box-shadow: 0.5px 0.5px 20px 10px #3396D3;
  transform: scale(1.05);
}

.download-button {
  margin: 5% 5% 5% 0;
  border-radius: 20px;
  transition: 0.5s ease;
  font-family: "Sora";
}


/*Title Image */

.title-image{
  width: 55%;
  transform: rotate(10deg);
  animation: animate 2s ease infinite;
}

@keyframes animate{
  0%{
    transform:translateY(0);
    
  }
50%{
  transform:translateY(-20px) rotate(5deg) ;
  
}


100%{
  transform: translateY(0);
}

}





/* Features */


#features{
padding: 7% 7%;
background-image:linear-gradient(rgb(237, 237, 237), #d7dffa);
position: relative;
z-index: 1;
}

.icon{
  color:#3396D3; 
}

h3.features{
  color: black;
  font-family: "Sora",sans-serif;
}
p.features{
  color: black;
  font-family: "Sora";
}

.card-features{
    padding: 0 5px;
    padding-top: 25px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 15px 2px rgba(255, 255, 255, 0.191);
  transition: 0.5s ease;
}

.card-features:hover{
transform:scale(1.05)
}

/*Testimonials*/

#testimonials {
  padding: 1% 15%;
  text-align: center;
   background-image:linear-gradient(to right, #d7dffa, rgb(229, 229, 229));
  object-fit:contain;
}
.carousel-item{
  padding: 1% 15%;
object-fit: cover;
}

.container-testimonial{
  height: 380px;
  overflow: hidden;
}

h2{color: white;
font-size: 2rem;
  font-weight: bold;
  font-family: "Sora"; 
}

.testimonial-image{
  width: 10%;
border-radius:50%;
margin: 25px 20px 50px;
}

#press{
  background-image:linear-gradient(to right, #d7dffa, rgb(229, 229, 229));
  text-align: center;
  object-fit: cover;
  
}
.press-logo{
  width: 10%;
  margin:25px 20px 50px ;
  object-fit:cover;
}

/* Price Section*/

#pricing{
  padding: 70px;
  text-align: center;
   background-image:linear-gradient(to right, #d7dffa, rgb(229, 229, 229));
}

.pricing-header{
  color:black;
  font-family: "Sora";
}

.pricing-column{
  padding: 3% 2%;

}

p.plan{
   filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5)); 
   color: #3396D3;
   font-weight: bolder;
}

h3.header-color{
  color: black;
  font-family: "Sora";
}

h2{color: black;
font-family: "Space Grotesk";
 
}

p.color-pricing{
  color: black;
  font-family: "Space Grotesk";
}

.signup-button:hover{
  color: #fff;
  background-color:#009dff;
}

.card{
  padding: 0 2px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 15px 2px rgba(255, 255, 255, 0.191);
     animation:appear linear;
  animation-timeline:view();
  animation-range: entry 0 cover 40%;
  transition: 0.5s ease;
}
.card:hover{
    transform: scale(1.1);
}

/* Call to action*/

#cta {
  background-image:linear-gradient(to right, #d7dffa, rgb(229, 229, 229));
padding: 7% 15%;
text-align: center;
}
h3.cta-heading {
  font-family: "Sora", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5)); 



}



/* Footer Section*/

#footer{
  padding: 1% 1%;
  text-align: center;
  background-color: #3396D3;
}

.social-icon{
  margin: 20px 10px ;
}


/* Media Quiery */

@media (max-width: 1028px){
  #title {text-align: center;}
  .title-image{
    position: static;
    transform:rotate(0);
 
  }
}

.container{
  animation:appear linear;
  animation-timeline:view();
  animation-range: entry 0 cover 40%;
}

@keyframes appear{
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
