.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0f4c5c;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family:"Manrope";
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  font-weight: 500;
  color: hsl(283, 100%, 84%);
}

h2, h3 {
  font-family: "Manrope";
  margin: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: hsl(283, 100%, 84%);
}

p {
  color: hsl(125, 100%, 83%);
}

img {
  width: 80%;
  background-color: hsl(283, 100%, 84%);
  border-radius: 30%;
  mix-blend-mode: hard-light;
}

.buttoncolor{
transition: 0.5s ease;
transform:scale(1);
animation: 2s ease infinite;
margin: auto;
width: fit-content;
border-radius: 10px;
}

@keyframes animate{
  0%{
    transform:scale(0);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.buttoncolor:hover{
transform: scale(1.1);
box-shadow: 0.5px 0.5px 20px 7px #ff99c8;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

